---
layout: base.njk
title: Char Dham Yatra - Phoenix Cabs
bodyClass: services-page
---
{%- set assetPath = "../" if page.url != "/" else "" -%}

<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url({{assetPath}}assets/img/bg-dark.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;">
  <div class="container position-relative">
    <h1>Char Dham Yatra</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{{assetPath}}index.html">Home</a></li>
        <li class="current">Char Dham Yatra</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<!-- Info Section -->
<section id="features" class="features section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Char Dham Yatra</h2>
    <p>
      Embark on the Divine Path: Book Your Cab for the Char Dham Yatra
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <img src="{{assetPath}}assets/img/yamunotri.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        <h3>YAMUNOTRI (यमुनोत्री)</h3>
        <p class="fst-italic">
          Begin your spiritual journey with Yamunotri, the sacred source
          of the Yamuna River, nestled in the pristine Himalayas.
        </p>
        <ul>
          <li>
            <i class="bi bi-check"></i><span>
              Visit the revered Yamunotri Temple dedicated to Goddess
              Yamuna.
            </span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Witness the thermal springs of Surya Kund.</span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Enjoy the scenic trek through lush meadows and dense
              forests.</span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Experience the serene beauty of the Bandarpunch Peak.</span>
          </li>
        </ul>
        <p class="fst-italic">
          Let Phoenix Cabs guide you to Yamunotri, ensuring a
          peaceful and divine start to your Char Dham Yatra. Embrace the
          tranquility and spiritual essence of this holy destination with
          us.
        </p>
      </div>
    </div>
    <!-- Features Item -->

    <div class="row gy-4 align-items-center features-item" style="margin-top: 20px;">
      <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{assetPath}}assets/img/gangotri.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
        <h3>GANGOTRI (गंगोत्री)</h3>
        <p class="fst-italic">
          Immerse yourself in the spiritual purity of Gangotri, the sacred
          origin of the Ganges River, and a vital part of the Char Dham
          pilgrimage.
        </p>
        <ul>
          <li>
            <i class="bi bi-check"></i><span> Pay homage at the ancient Gangotri Temple. </span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Witness the stunning beauty of the Bhagirathi River.</span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Explore the sacred rock where King Bhagirath
              meditated.</span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Experience the mystical charm of the Gaumukh Glacier.</span>
          </li>
        </ul>
        <p>
          With Phoenix Cabs, your journey to Gangotri will be
          comfortable and spiritually uplifting. Let us take you to the
          heart of devotion and natural beauty.
        </p>
      </div>
    </div>
    <!-- Features Item -->

    <div class="row gy-4 align-items-center features-item" style="margin-top: 20px;">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <img src="{{assetPath}}assets/img/kedarnath.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        <h3>KEDARNATH (केदारनाथ)</h3>
        <p class="fst-italic">
          Discover the spiritual majesty of Kedarnath, home to one of the
          twelve Jyotirlingas of Lord Shiva, set against the dramatic
          backdrop of the Himalayas.
        </p>
        <ul>
          <li>
            <i class="bi bi-check"></i><span>
              Visit the ancient and revered Kedarnath Temple.
            </span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Marvel at the breathtaking views of the snow-clad
              peaks.</span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Experience the serenity of the Mandakini River.</span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Trek through scenic landscapes and spiritual paths.</span>
          </li>
        </ul>
        <p class="fst-italic">
          Join Phoenix Cabs for a profound pilgrimage to
          Kedarnath, where divinity and natural splendor converge. Let us
          make your spiritual journey memorable and serene.
        </p>
      </div>
    </div>
    <!-- Features Item -->

    <div class="row gy-4 align-items-center features-item" style="margin-top: 20px;">
      <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
        <img src="{{assetPath}}assets/img/badrinath.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
        <h3>BADRINATH (बद्रीनाथ)</h3>
        <p class="fst-italic">
          Complete your Char Dham Yatra with a visit to Badrinath, the
          sacred abode of Lord Vishnu, nestled between the Nar and Narayan
          mountain ranges.
        </p>
        <ul>
          <li>
            <i class="bi bi-check"></i><span> Pay respects at the historic Badrinath Temple. </span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Witness the confluence of the Alaknanda and Rishi Ganga
              rivers.</span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Explore the mystical Tapt Kund hot springs. </span>
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Experience the beauty of the Neelkanth Peak.</span>
          </li>
        </ul>
        <p>
        Phoenix Cabs invites you to experience the divine
          grace and stunning beauty of Badrinath. Let us ensure a seamless
          and spiritually enriching journey to this revered destination.
        </p>
      </div>
    </div>
    <!-- Features Item -->
  </div>
</section>

<!-- Call Us Button -->
<div class="call-us-button-wrapper d-flex align-items-center justify-content-center book" style="margin-bottom: 4.5rem">
  <a href="tel:+917983438214" class="call-us-button btn-get-started">BOOK NOW </a>
</div>