---
layout: base.njk
title: Dehradun to Delhi - Phoenix Cabs
bodyClass: services-page
---
{%- set assetPath = "../" if page.url != "/" else "" -%}

<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url({{assetPath}}assets/img/bg-dark.jpg); background-repeat: no-repeat;
background-position: center;">
  <div class="container position-relative">
    <h1>Dehradun to Delhi</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{{assetPath}}index.html">Home</a></li>
        <li class="current" >Dehradun to Delhi</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<!-- Info Section -->
<section id="features" class="features section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Dehradun to Delhi</h2>
    <p>"Embark on a scenic journey from the serene landscapes of Dehradun to the bustling city life of Delhi."</p>
  </div>
  <!-- End Section Title -->

  <div class="container">

    <div class="row gy-4 align-items-center features-item" style="margin-bottom: 5rem;">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <img src="{{assetPath}}assets/img/delhi-service.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        <h2 style="font-weight: bold;" >Dehradun to Delhi <span style="color: #ff914d;">TAXI SERVICE</span></h2>
        <p class="fst-italic">  
             The journey from Dehradun to Delhi with <span style=
             "color:#ff914d" > Phoenix Cabs </span>  offers a seamless transition from the serene Himalayas to the vibrant capital city. Enjoy a scenic ride through diverse landscapes, from lush greenery to bustling urban areas. Arriving in Delhi, you'll experience a rich mix of history, culture, and modernity.<span style=
             "color:#ff914d" > Phoenix Cabs </span>  ensures a comfortable and memorable journey, blending natural beauty with the excitement of city life.
        </p>       
      </div>
    </div>
    <!-- Features Item -->

    <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{assetPath}}assets/img/delhi-service-2.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
        <h3>Distance between Dehradun and Delhi</h3>
        <p class="fst-italic">
            The distance between Dehradun and Delhi is approximately 250 kilometers, and the journey typically takes around 5 to 6 hours by road, depending on traffic conditions. With Phoenix Cabs, you can expect a comfortable and safe trip, as their experienced drivers ensure smooth travel and timely arrival. Enjoy a stress-free ride with top-notch services, blending convenience and safety for a pleasant journey.
        </p>
      </div>
    </div><!-- Features Item -->
  </div>

</section>

<!-- Call Us Button -->
<div class="call-us-button-wrapper d-flex align-items-center justify-content-center book" style="margin-bottom: 4.5rem;">
    <a href="tel:{{ site.phone }}" class="call-us-button btn-get-started">BOOK NOW  </a>
</div>