---
layout: base.njk
title: Delhi to Dehradun - Phoenix Cabs
bodyClass: services-page
---

<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url({{assetPath}}assets/img/bg-dark.jpg); background-repeat: no-repeat;
background-position: center;">
  <div class="container position-relative">
    <h1>Delhi to Dehradun</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{{assetPath}}index.html">Home</a></li>
        <li class="current" >Delhi to Dehradun</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<!-- Info Section -->
<section id="features" class="features section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Delhi to Dehradun</h2>
    <p>
      "Escape the hustle of Delhi and journey to the serene foothills of Dehradun with Phoenix Cabs."
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">

    <div class="row gy-4 align-items-center features-item" style="margin-bottom: 5rem;">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <img src="{{assetPath}}assets/img/dehradun.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        <h2 style="font-weight: bold;" >Delhi to Dehradun <span style="color: #ff914d;">TAXI SERVICE</span></h2>
        <p class="fst-italic">    
          Escape the hustle of Delhi and journey to the serene foothills of Dehradun with <span style="color: #ff914d;">Phoenix Cabs</span>. Enjoy a relaxing ride through picturesque highways and tranquil views, ensuring a smooth and hassle-free experience from the capital to the heart of Uttarakhand. Trust <span style="color: #ff914d;">Phoenix Cabs</span> for safe, reliable, and comfortable travel.
        </p>     
      </div>
    </div>
    <!-- Features Item -->

    <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{assetPath}}assets/img/delhi.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
        <h3>Distance between Delhi and Dehradun</h3>
        <p class="fst-italic">
          The distance between Delhi and Dehradun is approximately 250 kilometers, and the journey typically takes around 5 to 6 hours by road. With <span style="color: #ff914d;">Phoenix Cabs</span>, you can expect a comfortable and safe trip, ensuring a pleasant journey from the bustling capital to the peaceful hill station.
        </p>
      </div>
    </div><!-- Features Item -->
  </div>

</section>

<!-- Call Us Button -->
<div class="call-us-button-wrapper d-flex align-items-center justify-content-center book" style="margin-bottom: 4.5rem;">
    <a href="tel:+917983438214" class="call-us-button btn-get-started">BOOK NOW  </a>
</div>