---
layout: base.njk
title: Do Dham Yatra - Phoenix Cabs
bodyClass: services-page
---
{%- set assetPath = "../" if page.url != "/" else "" -%}

<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url({{assetPath}}assets/img/bg-dark.jpg); background-repeat: no-repeat;
background-position: center;">
  <div class="container position-relative">
    <h1>Do Dham Yatra</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{{assetPath}}index.html">Home</a></li>
        <li class="current">Do Dham Yatra</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<!-- Info Section -->
<section id="features" class="features section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Do Dham Yatra</h2>
    <p>
      "Embark on a spiritual journey with our trusted and comfortable taxi service for the Two Dham Yatra."
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">

    <div class="row gy-4 align-items-center features-item" style="margin-bottom: 5rem;">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <img src="{{assetPath}}assets/img/kedarnath.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        <h2 style="font-weight: bold;" >Do Dham Yatra <span style="color: #ff914d;">TAXI SERVICE</span></h2>
        <p class="fst-italic">    
          Embark on a spiritual journey with our trusted and comfortable taxi service for the <span style="color: #ff914d;">Two Dham Yatra</span>, ensuring a safe and unforgettable pilgrimage experience. <span style="color: #ff914d;">Phoenix Cabs</span> provides reliable transportation to two of the most sacred destinations in the Char Dham circuit, allowing you to focus on your spiritual journey while we handle the travel arrangements.
        </p>     
      </div>
    </div>
    <!-- Features Item -->

    <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{assetPath}}assets/img/badrinath.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
        <h3>Sacred Destinations of Do Dham</h3>
        <p class="fst-italic">
          The Do Dham Yatra typically includes visits to Kedarnath and Badrinath, two of the most revered temples in the Himalayan region. With <span style="color: #ff914d;">Phoenix Cabs</span>, you can experience a comfortable and spiritually enriching journey to these sacred destinations, where divine blessings and natural beauty await you.
        </p>
      </div>
    </div><!-- Features Item -->
  </div>

</section>

<!-- Call Us Button -->
<div class="call-us-button-wrapper d-flex align-items-center justify-content-center book" style="margin-bottom: 4.5rem;">
    <a href="tel:+917983438214" class="call-us-button btn-get-started">BOOK NOW  </a>
</div>