---
layout: base.njk
title: Dehradun to Mathura - Phoenix Cabs
bodyClass: services-page
---
{%- set assetPath = "../" if page.url != "/" else "" -%}

<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url({{assetPath}}assets/img/bg-dark.jpg); background-repeat: no-repeat;
background-position: center;">
  <div class="container position-relative">
    <h1>Dehradun to Mathura</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{{assetPath}}index.html">Home</a></li>
        <li class="current" >Dehradun to Mathura</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<!-- Info Section -->
<section id="features" class="features section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Dehradun to Mathura</h2>
    <p>
      "Travel from the scenic hills of Dehradun to the spiritual charm of Mathura, the city of Lord Krishna."
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">

    <div class="row gy-4 align-items-center features-item" style="margin-bottom: 5rem;">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <img src="{{assetPath}}assets/img/mathura.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        <h2 style="font-weight: bold;" >Dehradun to Mathura <span style="color: #ff914d;">TAXI SERVICE</span></h2>
        <p class="fst-italic">    
          Travel from the scenic hills of Dehradun to the spiritual charm of Mathura with <span style="color: #ff914d;">Phoenix Cabs</span>. Enjoy a comfortable and hassle-free journey through picturesque landscapes and vibrant towns, ensuring a smooth ride to the city of Lord Krishna. Book your trip with <span style="color: #ff914d;">Phoenix Cabs</span> for a safe, reliable, and delightful travel experience.
        </p>     
      </div>
    </div>
    <!-- Features Item -->

    <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{assetPath}}assets/img/mathura.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
        <h3>Distance between Dehradun and Mathura</h3>
        <p class="fst-italic">
          The distance from Dehradun to Mathura is approximately 310 kilometers, and the journey typically takes around 5 to 6 hours by road. With <span style="color: #ff914d;">Phoenix Cabs</span>, you can expect a comfortable and safe trip through diverse landscapes. Their experienced drivers ensure smooth travel, allowing you to enjoy the journey to this sacred destination.
        </p>
      </div>
    </div><!-- Features Item -->
  </div>

</section>

<!-- Call Us Button -->
<div class="call-us-button-wrapper d-flex align-items-center justify-content-center book" style="margin-bottom: 4.5rem;">
    <a href="tel:+917983438214" class="call-us-button btn-get-started">BOOK NOW  </a>
</div>