---
layout: base.njk
title: Dehradun to Mussorie and Haridwar - Phoenix Cabs
bodyClass: services-page
---
{%- set assetPath = "../" if page.url != "/" else "" -%}

<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url({{assetPath}}assets/img/bg-dark.jpg); background-repeat: no-repeat;
background-position: center;">
  <div class="container position-relative">
    <h1>Dehradun to Mussorie and Haridwar</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{{assetPath}}index.html">Home</a></li>
        <li class="current" >Dehradun to Mussorie and Haridwar</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<!-- Info Section -->
<section id="features" class="features section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Dehradun to Mussorie and Haridwar</h2>
    <p>
      "Explore the serene hills of Mussoorie and the spiritual essence of Haridwar with Phoenix Cabs."
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">

    <div class="row gy-4 align-items-center features-item" style="margin-bottom: 5rem;">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <img src="{{assetPath}}assets/img/mussorie-service.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        <h2 style="font-weight: bold;" >Dehradun to Mussorie and Haridwar <span style="color: #ff914d;">TAXI SERVICE</span></h2>
        <p class="fst-italic">    
          Explore the serene hills of Mussoorie and the spiritual essence of Haridwar with <span style="color: #ff914d;">Phoenix Cabs</span>. Enjoy a comfortable and reliable journey from Dehradun, as you travel through scenic routes and iconic landmarks. Whether it's the tranquility of the mountains or the sacred Ganges, <span style="color: #ff914d;">Phoenix Cabs</span> ensures a hassle-free and memorable travel experience. Book your ride today!
        </p>     
      </div>
    </div>
    <!-- Features Item -->

    <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{assetPath}}assets/img/haridwar-service.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
        <h3>Journey to Mussoorie and Haridwar</h3>
        <p class="fst-italic">
          This combined tour takes you from Dehradun's peaceful valley to the queen of hills, Mussoorie, with its cool climate and scenic beauty, and then to the holy city of Haridwar, where the Ganges flows into the plains. With <span style="color: #ff914d;">Phoenix Cabs</span>, experience the perfect blend of natural beauty and spiritual serenity in one memorable journey.
        </p>
      </div>
    </div><!-- Features Item -->
  </div>

</section>

<!-- Call Us Button -->
<div class="call-us-button-wrapper d-flex align-items-center justify-content-center book" style="margin-bottom: 4.5rem;">
    <a href="tel:{{ site.phone }}" class="call-us-button btn-get-started">BOOK NOW  </a>
</div>