---
layout: base.njk
title: Services - Phoenix Cabs
bodyClass: services-page
---
{%- set assetPath = "../" if page.url != "/" else "" -%}

<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url({{assetPath}}assets/img/bg-dark.jpg);
 background-repeat: no-repeat;
background-position: center;">
  <div class="container position-relative">
    <h1>Services</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{{assetPath}}index.html">Home</a></li>
        <li class="current">Services</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<section id="constructions" class="constructions section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Taxi Service</h2>
    <p>
      We have various kinds of vehicles available
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-11">
              <div class="card-bg">
                <img src="{{assetPath}}assets/img/ciaz.png" alt="" width="100%" />
              </div>
              <h3 style="text-align: center;">Maruti Suzuki Ciaz</h3>
              <div class="call-us-button-wrapper d-flex align-items-center justify-content-center"
                style="margin-bottom: 1rem;">
                <a href="tel:+917983438214" class="call-us-button btn-get-started">BOOK NOW </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card Item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-11">
              <div class="card-bg">
                <img src="{{assetPath}}assets/img/swift.png" alt="" width="100%" />
              </div>
              <h3 style="text-align: center;">Maruti Suzuki Swift</h3>
              <div class="call-us-button-wrapper d-flex align-items-center justify-content-center"
                style="margin-bottom: 1rem;">
                <a href="tel:+917983438214" class="call-us-button btn-get-started">BOOK NOW </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card Item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-11">
              <div class="card-bg">
                <img src="{{assetPath}}assets/img/innova.jpg" alt="" />
              </div>
              <h3 style="text-align: center;">Toyota Innova</h3>
              <div class="call-us-button-wrapper d-flex align-items-center justify-content-center"
                style="margin-bottom: 1rem;">
                <a href="tel:+917983438214" class="call-us-button btn-get-started">BOOK NOW </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card Item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-11">
              <div class="card-bg">
                <img src="{{assetPath}}assets/img/ertiga.png" alt="" />
              </div>
              <h3 style="text-align: center;">Maruti Suzuki Ertiga</h3>
              <div class="call-us-button-wrapper d-flex align-items-center justify-content-center"
                style="margin-bottom: 1rem;">
                <a href="tel:+917983438214" class="call-us-button btn-get-started">BOOK NOW </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card Item -->
    </div>
  </div>
</section>

<!-- Char Dham/Do Dham Service Section -->
<section id="services" class="services section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Pilgrimage Services</h2>
    <p>
      We provide the world class taxi service
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-gopuram"></i>
          </div>
          <h3>Taxi for <span class="readmore stretched-link">Char</span> Dham Yatra</h3>
          <p>
            Begin your spiritual adventure with our dependable and comfortable taxi service for the <span style="color: #C19208; font-weight: bold;">Char Dham Yatra</span>, providing a safe and memorable journey to the sacred destinations.
          </p>
          <a href="{{assetPath}}char-dham/index.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-gopuram"></i>
          </div>
          <h3>Taxi for <span class="readmore stretched-link">Two</span> Dham Yatra</h3>
          <p>
            Embark on a spiritual journey with our trusted and comfortable taxi service for the <span style="color: #C19208; font-weight: bold;">Two Dham Yatra</span>, ensuring a safe and unforgettable pilgrimage experience.
          </p>
          <a href="{{assetPath}}do-dham/index.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-plane"></i>
          </div>
          <h3>Dehradun to Jolly Grant Airport</h3>
          <p>
            Make your trip to the <span style="color: #C19208; font-weight: bold;">Jolly Grant Airport</span> stress-free with Phoenix Cabs. Enjoy a comfortable, timely, and hassle-free ride from anywhere in Dehradun to the airport. Our reliable service ensures that you reach your destination with ease, so you can catch your flight without any worries. Choose Phoenix Cabs for a smooth and efficient travel experience.
          </p>
          <a href="{{assetPath}}airport/index.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>

      </div>

    </div>
  </div>
</section>
<!-- /Services Section -->

<!-- Other Services Section -->
<section id="services" class="services section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Other Services</h2>
    <p>
      We provide the world class taxi service
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-taxi"></i>
          </div>
          <h3>Dehradun to Delhi</h3>
          <p>
            Embark on a reliable journey with Phoenix Cabs, starting from the foothills of Dehradun to the bustling heart of Delhi. Whether you're traveling through scenic routes or exploring vibrant cityscapes, our service ensures smooth rides, timely pickups, and unparalleled comfort at every turn. Choose Phoenix Cabs for a memorable travel experience.
          </p>
          <a href="/delhi/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-taxi"></i>
          </div>
          <h3>Delhi to Dehradun</h3>
          <p>
            Escape the hustle of Delhi and journey to the serene foothills of Dehradun with Phoenix Cabs. Enjoy a relaxing ride through picturesque highways and tranquil views, ensuring a smooth and hassle-free experience from the capital to the heart of Uttarakhand. Trust Phoenix Cabs for safe, reliable, and comfortable travel.
          </p>
          <a href="/delhi-dehradun/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-taxi"></i>
          </div>
          <h3>Dehradun to Mathura</h3>
          <p>
            Travel from the scenic hills of Dehradun to the spiritual charm of Mathura with Phoenix Cabs. Enjoy a comfortable and hassle-free journey through picturesque landscapes and vibrant towns, ensuring a smooth ride to the city of Lord Krishna. Book your trip with Phoenix Cabs for a safe, reliable, and delightful travel experience.
          </p>
          <a href="/mathura/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-taxi"></i>
          </div>
          <h3>Dehradun to Agra</h3>
          <p>
            Journey from the tranquil hills of Dehradun to the iconic city of the Taj Mahal with Phoenix Cabs. Experience a smooth and comfortable ride through scenic highways, ensuring a hassle-free trip to Agra's rich heritage and architectural wonders. Choose Phoenix Cabs for a reliable, safe, and memorable travel experience.
          </p>
          <a href="/agra/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain"></i>
          </div>
          <h3>Dehradun to Mussorie</h3>
          <p>
            Escape to the Queen of Hills with Phoenix Cabs, offering a quick and comfortable ride from Dehradun to Mussoorie. Travel through winding mountain roads and breathtaking views, ensuring a safe and pleasant journey to this enchanting hill station. Book your ride with Phoenix Cabs for a seamless and memorable experience.
          </p>
          <a href="/mussorie/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain"></i>
          </div>
          <h3>Dehradun to Dhanaulti</h3>
          <p>
            Experience a serene journey from Dehradun to the tranquil hills of Dhanaulti with Phoenix Cabs. Enjoy the scenic drive through lush forests and winding roads, ensuring a safe and comfortable ride to this peaceful retreat. Trust Phoenix Cabs for a reliable and delightful travel experience amidst nature's beauty.
          </p>
          <a href="/dhanaulti/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain"></i>
          </div>
          <h3>Dehradun to Mussorie , Haridwar , Rishikesh</h3>
          <p>
            Discover the best of Uttarakhand with Phoenix Cabs, offering seamless rides from Dehradun to Mussoorie, Haridwar, and Rishikesh. Whether it's the serene hills of Mussoorie, the spiritual vibes of Haridwar, or the adventurous charm of Rishikesh, enjoy a comfortable and hassle-free journey to these iconic destinations. Book now with Phoenix Cabs for a reliable and unforgettable travel experience.
          </p>
          <a href="/mossorie-haridwar-rishikesh/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain"></i>
          </div>
          <h3>Dehradun to Mussorie , Haridwar</h3>
          <p>
            Explore the serene hills of Mussoorie and the spiritual essence of Haridwar with Phoenix Cabs. Enjoy a comfortable and reliable journey from Dehradun, as you travel through scenic routes and iconic landmarks. Whether it's the tranquility of the mountains or the sacred Ganges, Phoenix Cabs ensures a hassle-free and memorable travel experience. Book your ride today!
          </p>
          <a href="/mossorie-haridwar/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain"></i>
          </div>
          <h3>Dehradun to Auli</h3>
          <p>
            Journey from the scenic beauty of Dehradun to the snowy peaks of Auli with Phoenix Cabs. Enjoy a smooth and comfortable ride through the majestic Himalayan roads, ensuring a safe and delightful experience to this popular winter destination. Whether it's skiing or breathtaking views, trust Phoenix Cabs for an unforgettable trip to Auli.
          </p>
          <a href="/auli/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain"></i>
          </div>
          <h3>Dehradun to Shimla , Manali</h3>
          <p>
            Embark on an unforgettable journey from Dehradun to the picturesque hill stations of Shimla and Manali with Phoenix Cabs. Enjoy a comfortable and scenic drive through the beautiful landscapes of Himachal Pradesh, with smooth rides to both the colonial charm of Shimla and the adventure-filled vibes of Manali. Trust Phoenix Cabs for a reliable, safe, and enjoyable travel experience.
          </p>
          <a href="/shimla-manali/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-taxi"></i>
          </div>
          <h3>Dehradun Taxi</h3>
          <p>
            Travel effortlessly within Dehradun with Phoenix Cabs. Whether you're heading to a business meeting, exploring local attractions, or visiting family, our intercity cab service offers comfort, reliability, and timely travel. Experience hassle-free journeys across Dehradun with Phoenix Cabs, ensuring a smooth ride to your destination every time.
          </p>
          <a href="/dehradun/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-taxi"></i>
          </div>
          <h3>Dehradun to Chandigarh</h3>
          <p>
            Travel comfortably from Dehradun to the vibrant city of Chandigarh with Phoenix Cabs. Enjoy a smooth and scenic ride through the picturesque landscapes, ensuring a safe and hassle-free journey to the city known for its modern architecture and lush gardens. Choose Phoenix Cabs for a reliable and enjoyable travel experience.
          </p>
          <a href="/chandigarh/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-taxi"></i>
          </div>
          <h3>Dehradun to Rishikesh</h3>
          <p>
            Journey from the serene landscapes of Dehradun to the spiritual heart of Rishikesh with Phoenix Cabs. Enjoy a peaceful and comfortable ride along scenic roads, leading you to the tranquil banks of the Ganges. Whether for yoga, adventure, or spirituality, trust Phoenix Cabs to provide a safe, reliable, and memorable journey to Rishikesh.
          </p>
          <a href="/rishikesh/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-taxi"></i>
          </div>
          <h3>Dehradun to Haridwar</h3>
          <p>
            Travel from the peaceful hills of Dehradun to the sacred city of Haridwar with Phoenix Cabs. Enjoy a comfortable and scenic journey through beautiful landscapes, leading you to the holy banks of the Ganges. Whether it's for a spiritual retreat or a peaceful visit, Phoenix Cabs ensures a safe, hassle-free, and memorable ride to Haridwar.
          </p>
          <a href="/haridwar/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain"></i>
          </div>
          <h3>Dehradun to Chopta</h3>
          <p>
            Embark on a scenic journey from Dehradun to the enchanting meadows of Chopta with Phoenix Cabs. Enjoy a comfortable and hassle-free ride through the picturesque landscapes of Uttarakhand, leading you to this beautiful offbeat destination known for its stunning views and trekking trails. Choose Phoenix Cabs for a safe, reliable, and memorable trip to Chopta.
          </p>
          <a href="/chopta/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain"></i>
          </div>
          <h3>Dehradun to Chakrata</h3>
          <p>
            Escape to the peaceful hills of Chakrata from Dehradun with Phoenix Cabs. Enjoy a smooth and scenic drive through winding mountain roads, surrounded by lush greenery and breathtaking views. Whether you're looking to relax or explore nature, Phoenix Cabs offers a comfortable and reliable ride to this serene hill station.
          </p>
          <a href="/chakrata/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <!-- End Service Item -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain"></i>
          </div>
          <h3>Dehradun to New Tehri</h3>
          <p>
            Discover the tranquil beauty of New Tehri with a comfortable ride from Dehradun in Phoenix Cabs. Enjoy a scenic journey through the winding hills and stunning landscapes, leading you to the peaceful lakeside town known for its breathtaking views of the Tehri Dam. Choose Phoenix Cabs for a smooth, reliable, and memorable travel experience to New Tehri.
          </p>
          <a href="/new-tehri/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->
      <!-- End Service Item -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mountain"></i>
          </div>
          <h3>Dehradun to All India Services</h3>
          <p>
            Travel seamlessly from Dehradun to various destinations across India with Phoenix Cabs. Whether it's a business trip, personal journey, or special occasion, our all-India services ensure a comfortable and reliable ride, no matter the distance. Experience convenience and safety with Phoenix Cabs as we provide timely, hassle-free journeys to locations across the country.
          </p>
          <a href="/all-india/" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->

    </div>
  </div>
</section>
<!-- Outstation Section -->

<section id="testimonials" class="testimonials section">

<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>Our Client Says</h2>
  <p>Read the experiences of our satisfied customers and discover why Phoenix Cabs is the preferred
    choice for reliable and exceptional travel services.</p>
</div><!-- End Section Title -->

<div class="container" data-aos="fade-up" data-aos-delay="100">

  <div class="swiper init-swiper">
    <script type="application/json" class="swiper-config">
      {
        "loop": true,
        "speed": 600,
        "autoplay": {
          "delay": 5000
        },
        "slidesPerView": "auto",
        "pagination": {
          "el": ".swiper-pagination",
          "type": "bullets",
          "clickable": true
        },
        "breakpoints": {
          "320": {
            "slidesPerView": 1,
            "spaceBetween": 40
          },
          "1200": {
            "slidesPerView": 2,
            "spaceBetween": 20
          }
        }
      }
    </script>

    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="testimonial-wrap">
          <div class="testimonial-item">
            <h3>Raghav Singh</h3>
            <h4>Business Owner</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              Phoenix Cabs exceeded all my expectations! Their team was professional, and the service was flawless from start to finish.
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
      </div><!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-wrap">
          <div class="testimonial-item">
            <h3>Priya Mehta</h3>
            <h4>Marketing Executive</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              I chose Phoenix Cabs for a family vacation, and I am extremely pleased with their attention to detail and comfort during the journey.
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
      </div><!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-wrap">
          <div class="testimonial-item">
            <h3>Nitin</h3>
            <h4>Software Engineer</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              Whether it's a business trip or a casual ride, Phoenix Cabs always provides timely and exceptional service. I highly recommend them!
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
      </div><!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-wrap">
          <div class="testimonial-item">
            <h3>Ankita Sharma</h3>
            <h4>Journalist</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              Phoenix Cabs made my Char Dham Yatra hassle-free and enjoyable. Their professionalism and care were evident throughout.
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
      </div><!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-wrap">
          <div class="testimonial-item">
            <h3>Vivek Verma</h3>
            <h4>Teacher</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              हर बार फीनिक्स कैब्स के साथ मेरी यात्रा शानदार रही है। उनकी सेवाएं हमेशा समय पर और आरामदायक होती हैं।
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
      </div><!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-wrap">
          <div class="testimonial-item">
            <h3>Anjali Rathi</h3>
            <h4>Student</h4>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              मैंने कई बार फीनिक्स कैब्स ली हैं, और हर बार का अनुभव शानदार रहा। गाड़ियाँ साफ-सुथरी और सेफ होती हैं।
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
      </div><!-- End testimonial item -->

    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>

</section>
<!-- /Testimonials Section -->